body {
    background-color: rgb(60, 218, 32);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 20px;
    color: rgb(31, 33, 43);
}

div {
    padding: 15px;
    margin: 10px;
}

.dev-cls {
    background-color: rgb(31, 33, 43);
    font-size: 15px;
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}